<h1>Palindrome????</h1>
  <form action='/display'>
    <div class="form-group">
      <textarea name="checkPalindromes" class="form-control" type="text" placeholder="Enter your paragraph"></textarea>
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>
<%= @result %>
